<h3>Standings</h3>
<br>
<table style="width: 70%;">
    <thead>
        <tr>
            <th style="width:35%"></th>
            <th style="width:10%;text-align:right;">RANK</th>
            <th style="width:10%;text-align:right;">TEAM NAME</th>
            <th style="width:10%;text-align:right;">KILL PTS</th>
            <th style="width:10%;text-align:right;">RANK PTS</th>
            <th style="width:10%;text-align:right;">TOTAL PTS</th>
        </tr>
    </thead>
    <tbody>

    </tbody>


</table>
